<!DOCTYPE html>
<html lang="en">
<head>
	<% require('html-loader!./common/header.html') %>
	<title>跨猪网</title>
</head>
<body>
    <div class="nav">
    	<div class="connent">
    		<div class="nav-footer">
    			<div class="nav-left">
	    			 <a href="">请登陆</a>
	    			 <a>注册</a>
	    			 <a>欢迎</a>
    		    </div>
    		    <ul class="nav-right">
	    			 <li><a href="">购物车</a></li>
	    			 <li><a href="">我的订单</a></li>
	    			 <li><a href="">我的商品</a></li>
    		    </ul>
    		</div>
    
    	</div>
    </div>
	<% require('html-loader!./common/footer.html') %>
</body>
</html>