<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/searce.html') %>
	<div class="code">
		<div class="container">
			<div class="sode">
				<%= require('html-loader!./common/side.html') %>
			</div>
			<div class="conten">
			   <div class="form">
		<div class="container">
			<div class="form-box">
				<h2 class="title">用户登陆</h2>
				<div class="error-item">
                    <i class="fa fa-minus-circle error-icon"></i>
					<p class="error-msg">error</p>
				</div>
				<div class="form-item">
					<label for="">
	                    <i class="fa fa-user"></i>					
					</label>
					<input type="text" class="form-content" placeholder="请输入账号">
				
                </div>
                <div class="form-item">
                    <label for="">
	                    <i class="fa fa-lock"></i>					
					</label>
					<input type="password" class="form-content" placeholder="请输入密码">
				</div>	
                <div class="btn-item">
					<a class="btn btn-submit" id="btn-submit" href="javascript:;">登陆</a>
				</div>	
			</div>
		</div>
	</div>
			</div>
		</div>
	</div>

	<%= require('html-loader!./common/footer.html') %>
</body>
</html>