/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

 
/** 重置列表元素 **/
ul, ol { list-style: none; }
 
/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: none; }
 

 
/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

/*公共样式*/
.container{
	width: 1080px;
	margin: 0 auto;
}
.hide{
	display: none;
}
.btn{
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: #f21;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.8;
}
body{
	background: #D8D8D8;
	font-size: 14px;
}